<script src="/dd.js"></script>
<script>
  function testLog() {
    console.log(this.ownerElement.outerHTML);
    const tst = document.querySelector("body > template").content.children[0].outerHTML.replaceAll(/\s/g, "");
    const res = this.ownerElement.outerHTML.replaceAll(/\s/g, "");
    console.log(tst === res);
  }
  document.Reactions.define("test-log", testLog);
</script>

<body>
  <main template: _:test-log>
    <section>
      <h1>hello sunshine</h1>
      <!--template-->
      <div>items being added here</div>
      <!--/template -->
      <h4>footer</h4>
    </section>
    <div template:>
      <h3>hello darkness my old friend!</h3>
    </div>
    <div>
      hello lightness my new friend!
      <!--template -->
      <i>items being added here</i>
    </div>
    <div>
      hello rainbow!
      <!--template if="{{one}}"-->
      <!--template for="{{item of two}}"-->
      <i>two items being added here</i>
      <!--/template-->
      <i>and some end if here, with an invisible if end</i>
    </div>
  </main>
  <template>
    <main template:="" _:test-log="">
      <template>
        <section>
          <h1>hello sunshine</h1>
          <template>
            <div>items being added here</div>
          </template>
          <h4>footer</h4>
        </section>
        <div template:="">
          <template>
            <h3>hello darkness my old friend!</h3>
          </template>
        </div>
        <div>
          hello lightness my new friend!
          <template>
            <i>items being added here</i>
          </template>
        </div>
        <div>
          hello rainbow!
          <template if="{{one}}">
            <template for="{{item of two}}">
              <i>two items being added here</i>
            </template>
            <i>and some end if here, with an invisible if end</i>
          </template>
        </div>
      </template>
    </main>
  </template>
</body>