<script src="/dd.js"></script>
<script>
  function testLog() {
    console.log(this.ownerElement.outerHTML);
    const tst = document.querySelector("body > template").content.children[0].outerHTML.replaceAll(/\s/g, "");
    const res = this.ownerElement.outerHTML.replaceAll(/\s/g, "");
    console.log(tst === res);
  }
  document.Reactions.define("test-log", testLog);
</script>

<body>
  <main template: _:test-log>
    <section>
      <h1>hello sunshine</h1>
      <!--template -->
      <div>items being added here</div>
      <!--/template -->
      <h4>footer</h4>
    </section>
    <div template:>
      <h3>hello darkness my old friend!</h3>
    </div>
  </main>
  <template>
    <main template:="" _:test-log="">
      <template>
        <section>
          <h1>hello sunshine</h1>
          <!--template --><template>
            <div>items being added here</div>
          </template><!--/template -->
          <h4>footer</h4>
        </section>
        <div template:=""><template>
            <h3>hello darkness my old friend!</h3>
          </template></div>
      </template>
    </main>
  </template>
</body>