
.border {
  border: 2px dotted;
  border-collapse: initial;
  border-spacing: initial;
  border-radius: 0;
  border-top-color: var(--border-top-color, var(--border-color, var(--color_3, black)));
  border-right-color: var(--border-right-color, var(--border-color, var(--color_3, black)));
  border-bottom-color: var(--border-bottom-color, var(--border-color, var(--color_3, black)));
  border-left-color: var(--border-left-color, var(--border-color, var(--color_3, black)));
}

.flex { display: flex; }
.flex-col { display: flex; flex-direction: column; }
.inline-flex { display: inline-flex; }
.inline-flex-col { display: inline-flex; flex-direction: column; }



.flex-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;  
  justify-items: flex-start;
  align-items: flex-start;
}
.flex-start > :first-child {
  flex: 1 1 auto;
}